[all:vars]
# config for all hosts

[master:vars]
#ansible_become                  = true

[master]
# 0.0.0.0 hostname=master

[workers:vars]
#ansible_become                  = true

[workers]
#0.0.0.0 hostname=worker-01
#0.0.0.0 hostname=worker-02
